In [210]:
#import 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [211]:
# read data and add column name
columns = ['Wikipedia ID', 'Freebase ID', 'title', 'release date', 'box office', 'runtime', 'language', 'countries', 'genre']
df_movies = pd.read_csv('movie.metadata.tsv', sep='\t', header=None, names=columns)
df_movies

,Wikipedia ID,Freebase ID,title,release date,box office,runtime,language,countries,genre
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}"
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0..."
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}"
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""..."

In [212]:
# Put title in lower case for the merge
df_movies['title'] = df_movies['title'].apply(lambda x: x.lower())
df_movies

,Wikipedia ID,Freebase ID,title,release date,box office,runtime,language,countries,genre
0,975900,/m/03vyhn,ghosts of mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,getting away with murder: the jonbenét ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,white of the eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,a woman in flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,mermaids: the body found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}"
81737,34980460,/m/0g4pl34,knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0..."
81738,9971909,/m/02pygw1,another nice mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}"
81739,913762,/m/03pcrp,the super dimension fortress macross ii: lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
81740,12476867,/m/02w7zz8,spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""..."

In [213]:
df_movies.dtypes

Wikipedia ID      int64
Freebase ID      object
title            object
release date     object
box office      float64
runtime         float64
language         object
countries        object
genre            object
dtype: object

In [214]:
# Check if title are unique 
is_duplicate = df_movies[df_movies['title'].duplicated(keep=False)]
is_duplicate.sort_values(['title'])

,Wikipedia ID,Freebase ID,title,release date,box office,runtime,language,countries,genre
18992,15498803,/m/03mc7x8,100 days,2001-02-01,NaN,100.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/07s9rl0"": ""Drama""}"
77290,8422241,/m/0272wbj,100 days,1991,NaN,161.0,"{""/m/03k50"": ""Hindi Language""}","{""/m/03rk0"": ""India""}","{""/m/03npn"": ""Horror"", ""/m/0c3351"": ""Suspense""..."
12205,31239628,/m/0gj9wpb,100% love,2011-04,NaN,140.0,"{""/m/09s02"": ""Telugu language""}",{},"{""/m/06cvj"": ""Romantic comedy""}"
69188,34757217,/m/0j3df_d,100% love,2012-01-20,NaN,NaN,"{""/m/01c7y"": ""Bengali Language""}","{""/m/03rk0"": ""India""}","{""/m/02l7c8"": ""Romance Film"", ""/m/05p553"": ""Co..."
17891,33940717,/m/0j626hk,12,2003-06-27,NaN,124.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/05p553"": ""Comedy film"", ""/m/04t36"": ""Musi..."
...,...,...,...,...,...,...,...,...,...
79,11353896,/m/02r8pmz,zindagi,1976,NaN,NaN,"{""/m/03k50"": ""Hindi Language""}","{""/m/03rk0"": ""India""}","{""/m/01chg"": ""Bollywood""}"
40871,11353680,/m/02r8p2s,zindagi,1964,NaN,NaN,"{""/m/03k50"": ""Hindi Language""}","{""/m/03rk0"": ""India""}","{""/m/0hqxf"": ""Family Film"", ""/m/07s9rl0"": ""Dra..."
75600,33215343,/m/0h67l5w,zindagi,1940,NaN,120.0,"{""/m/03k50"": ""Hindi Language""}","{""/m/03rk0"": ""India""}","{""/m/0hqxf"": ""Family Film"", ""/m/07s9rl0"": ""Dra..."
3321,7714332,/m/0269q28,zoetrope,1999,NaN,18.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film""}"
74801,31543513,/m/0glpvqt,zoetrope,NaN,NaN,73.0,{},{},"{""/m/02n4kr"": ""Mystery"", ""/m/01hmnh"": ""Fantasy""}"

In [215]:
# titles are not unique --> many duplicates, need to add another condition to merge

In [216]:
# keep only the year for the release date
# several movies have the same title, use also the year to merge 
df_movies['release date'] = df_movies['release date'].astype(str)
df_movies['year'] = df_movies['release date'].str[0:4]
df_movies

,Wikipedia ID,Freebase ID,title,release date,box office,runtime,language,countries,genre,year
0,975900,/m/03vyhn,ghosts of mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001
1,3196793,/m/08yl5d,getting away with murder: the jonbenét ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",2000
2,28463795,/m/0crgdbh,brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",1988
3,9363483,/m/0285_cd,white of the eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",1987
4,261236,/m/01mrr1,a woman in flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",1983
...,...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,mermaids: the body found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}",2011
81737,34980460,/m/0g4pl34,knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0...",2011
81738,9971909,/m/02pygw1,another nice mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}",1972
81739,913762,/m/03pcrp,the super dimension fortress macross ii: lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ...",1992
81740,12476867,/m/02w7zz8,spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""...",2002

In [217]:
# read bechdel data
df_bechdel = pd.read_csv('bechdel_movies_2023_FEB.csv')
df_bechdel

,title,year,rating,dubious,imdbid,id,submitterid,date,visible
0,Passage de Venus,1874,0,0.0,3155794,9602,18880,2021-04-02 20:58,1
1,La Rosace Magique,1877,0,0.0,14495706,9804,19145,2021-05-11 0:11,1
2,Sallie Gardner at a Gallop,1878,0,0.0,2221420,9603,18882,2021-04-03 2:25,1
3,Le singe musicien,1878,0,0.0,12592084,9806,19151,2021-05-11 23:38,1
4,Athlete Swinging a Pick,1881,0,0.0,7816420,9816,19162,2021-05-13 1:32,1
...,...,...,...,...,...,...,...,...,...
9897,Spider-Man: No Way Home,2021,3,1.0,10872600,10166,19768,2021-12-21 02:14:30,1
9898,Timeless,2018,3,0.0,5511582,10165,19766,2021-12-21 00:49:07,1
9899,Red Notice,2021,1,0.0,7991608,10164,19765,2021-12-20 14:10:11,1
9900,Abbott and Costello Meet Frankenstein,1948,3,0.0,40068,10163,19764,2021-12-19 18:11:42,1
9901,Moomins on the Riviera,2014,3,0.0,2371399,10162,19758,2021-12-17 19:56:15,1

In [218]:
# put all title in lower case
df_bechdel['title'] = df_bechdel['title'].apply(lambda x: x.lower())
df_bechdel

,title,year,rating,dubious,imdbid,id,submitterid,date,visible
0,passage de venus,1874,0,0.0,3155794,9602,18880,2021-04-02 20:58,1
1,la rosace magique,1877,0,0.0,14495706,9804,19145,2021-05-11 0:11,1
2,sallie gardner at a gallop,1878,0,0.0,2221420,9603,18882,2021-04-03 2:25,1
3,le singe musicien,1878,0,0.0,12592084,9806,19151,2021-05-11 23:38,1
4,athlete swinging a pick,1881,0,0.0,7816420,9816,19162,2021-05-13 1:32,1
...,...,...,...,...,...,...,...,...,...
9897,spider-man: no way home,2021,3,1.0,10872600,10166,19768,2021-12-21 02:14:30,1
9898,timeless,2018,3,0.0,5511582,10165,19766,2021-12-21 00:49:07,1
9899,red notice,2021,1,0.0,7991608,10164,19765,2021-12-20 14:10:11,1
9900,abbott and costello meet frankenstein,1948,3,0.0,40068,10163,19764,2021-12-19 18:11:42,1
9901,moomins on the riviera,2014,3,0.0,2371399,10162,19758,2021-12-17 19:56:15,1

In [219]:
# check missing value row 
rows_with_missing = df_bechdel[df_bechdel.isnull().any(axis=1)]
print("Rows with missing values:")
rows_with_missing

#do we want to drop them?

Rows with missing values:

,title,year,rating,dubious,imdbid,id,submitterid,date,visible
409,"wizard of oz, the",1939,3,NaN,32138,174,8,2008-09-03 21:13,1
410,gone with the wind,1939,3,NaN,31381,291,28,2009-03-02 14:31,1
411,dodge city,1939,2,NaN,31235,383,45,2009-07-28 4:37,1
538,arsenic and old lace,1944,3,NaN,36613,201,17,2008-10-23 15:39,1
670,all about eve,1950,3,NaN,42192,139,4,2008-08-03 7:10,1
...,...,...,...,...,...,...,...,...,...
5492,"hangover, the",2009,1,NaN,1119646,361,41,2009-07-13 9:53,1
5493,public enemies,2009,1,NaN,1152836,371,35,2009-07-13 17:51,1
5494,harry potter and the half-blood prince,2009,3,NaN,417741,375,15,2009-07-17 9:39,1
5495,grey gardens,2009,3,NaN,758751,377,43,2009-07-22 16:44,1
5496,princess protection program,2009,3,NaN,1196339,385,30,2009-07-30 19:48,1

In [220]:
# check duplicated row
is_duplicate_row = df_bechdel[df_bechdel.duplicated(keep=False)]
print("Duplicated rows:")
is_duplicate_row

#any duplicated row

Duplicated rows:

Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: []

In [221]:
# check min and max year
min_year = min(df_bechdel['year'])
max_year = max(df_bechdel['year'])
print('First year with rating:', min_year)
print('Last year with rating:', max_year)

First year with rating: 1874
Last year with rating: 2023

In [222]:
dubious_value = df_bechdel[['dubious', 'title']].groupby('dubious', dropna=False).count()
dubious_value

         title
dubious
0.0       8730
1.0        873
NaN        299

In [223]:
# On décie de drop les 1 et NaN ? Un peu plus de 10%

In [224]:
# check duplicate titles in the bechdel dataset
is_duplicate_bechdel = df_bechdel[df_bechdel['title'].duplicated(keep=False)]
is_duplicate_bechdel.sort_values(['title'])

,title,year,rating,dubious,imdbid,id,submitterid,date,visible
5822,1,2009,3,1.0,408060,9643,18928,2021-04-11 3:41,1
7142,1,2013,3,1.0,2395385,5150,9404,2014-02-08 15:27,1
2482,a little night music,1990,3,0.0,359610,3721,6173,2012-12-06 20:46,1
1658,a little night music,1977,3,0.0,76319,3720,6172,2012-12-06 20:44,1
2011,a nightmare on elm street,1984,3,0.0,87800,4182,7285,2013-05-30 15:08,1
...,...,...,...,...,...,...,...,...,...
412,"women, the",1939,3,0.0,32143,588,318,2009-12-27 21:46,1
8369,wonder woman,2017,3,0.0,451279,7241,14167,2016-11-04 11:29,1
5714,wonder woman,2009,3,0.0,1186373,3585,5888,2012-10-12 19:43,1
414,wuthering heights,1939,2,0.0,32145,1239,1340,2010-07-22 23:36,1
6368,wuthering heights,2011,2,0.0,1181614,3204,5091,2012-04-25 8:42,1

In [225]:
# Also many duplicates, need to join on date too

In [226]:
# convert year (float) in string so that it can be join on it 
df_bechdel['year'] = df_bechdel['year'].astype(str)
df_bechdel.dtypes

title           object
year            object
rating           int64
dubious        float64
imdbid           int64
id               int64
submitterid      int64
date            object
visible          int64
dtype: object

In [227]:
def reformat_title(title):
    # Ensure title is a string and not None or NaN
    if isinstance(title, str):
        # Check if the title ends with ', the' (ignoring case)
        if title.lower().endswith(', the'):
            # Remove the last 5 characters (', the') and strip any leading/trailing whitespace
            new_title = title[:-5].strip()
            # Return the reformatted title with 'The ' at the beginning
            return 'the ' + new_title
        else:
            # If the title does not end with ', the', return it as is
            return title
    else:
        return title

# Apply the function to the 'title' column
df_bechdel['title'] = df_bechdel['title'].apply(reformat_title)
df_bechdel.iloc[412]

title                 the women
year                       1939
rating                        3
dubious                     0.0
imdbid                    32143
id                          588
submitterid                 318
date           2009-12-27 21:46
visible                       1
Name: 412, dtype: object

In [228]:
# merge both datasets on title and year to avoid duplicates in title 
df_merged = df_movies.merge(df_bechdel, on=('title', 'year'), how='left')
df_merged

,Wikipedia ID,Freebase ID,title,release date,box office,runtime,language,countries,genre,year,rating,dubious,imdbid,id,submitterid,date,visible
0,975900,/m/03vyhn,ghosts of mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001,3.0,NaN,228333.0,333.0,1.0,2009-06-02 21:27,1.0
1,3196793,/m/08yl5d,getting away with murder: the jonbenét ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28463795,/m/0crgdbh,brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9363483,/m/0285_cd,white of the eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,261236,/m/01mrr1,a woman in flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81740,35228177,/m/0j7hxnt,mermaids: the body found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}",2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81741,34980460,/m/0g4pl34,knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0...",2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81742,9971909,/m/02pygw1,another nice mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}",1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81743,913762,/m/03pcrp,the super dimension fortress macross ii: lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ...",1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81744,12476867,/m/02w7zz8,spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""...",2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [229]:
# Percentage of films with rating available 
count_per_colums = df_merged.count()
percentage_movies_rate = count_per_colums['rating'] / count_per_colums['title'] * 100
print("Percentage of film with rating available is", round(percentage_movies_rate, 2), "%")

# Is it too small to be used? 
# do we need to merge both dataset?

Percentage of film with rating available is 6.17 %

In [ ]:
# 4.67 avec les majuscule 
# 4.91 en mettant tout en lower case
# 6.17 en modifiant les films en "the"